
.payment_card{

    margin: 16px;
    background: #923f78;

    :global{
        .ant-card-head-title{
            color: #fff;
        }
        .ant-card{
            color: #fff;
            background: #923f78;
            border: none;
        }
        .ant-list-item-meta{
            color: #fff;
            align-items: center;
            justify-content: center;
        }

        .ant-list-item-meta-title{
            margin-top: 4px;
            color: white !important;
        }

        .anticon{
            color: #FFD700 !important
        }
    }
}
