.header_layout {
  background: white !important;
}



.logo {
  float: left;
  display: flex;
  height: 36px;
  margin: 12px 0;
}


.layout_header{
  overflow: hidden;
  height: 100%;
}

.layout_header {
  :global {
    .ant-layout-sider {
      padding: 0 32px;
      width: 300px !important;
      max-width: 300px !important;
      min-width: 300px !important;
    }
  }
}

// css for website responsiveness

// TODO:- Resposive of sidebar needs to be done 
// @media only screen and (max-width: 768px){
//   .layout_header {
//     :global {
//       .ant-layout-sider {
//         width: 0 !important;
//         max-width: 0px !important;
//         min-width: 0px !important;
//       }
//     }
//   }
// }
