@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: 'Roboto', sans-serif !important;
  background: white;
}

body{
  padding: 0;
  margin: 0;
}

#root{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
